<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Leilão</title>
</head>
<body>
    <h2>Cadastro de Usuario</h2>
    <form action="/cadastro_salvar" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required>
        
        <br><br>
        
        <input type="submit" value="Cadastrar">
    </form>
    <a href="/login">
        <button>Login</button>
    </a>
</body>
</html>
