<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-error">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/login_executar" method="POST">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br><br>
        <input type="submit" value="Login">
    </form>
    <a href="/cadastro">
        <button>Cadastrar</button>
    </a>
</body>
</html>
